<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AR-pylos.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>196AD63A2482F8E000BF63D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>196AD6502482F8E200BF63D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>196AD65B2482F8E200BF63D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
